  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    overflow-x: hidden;
  }

  
  nav {
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background: lightgreen;
    backdrop-filter: blur(8px);
    z-index: 100;
  }

  nav h1 {
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: bold;
  }

  nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
  }

  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
  }

  nav ul li a:hover {
    color: #ff6347;
  }

  
  .hero {
    height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 80px;
    background: 
      linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
      url('https://images.unsplash.com/photo-1506744038136-46273834b3fb') center/cover no-repeat;
  }

  .hero h1 {
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 15px;
  }

  .hero h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .hero p {
    max-width: 500px;
    font-size: 16px;
    line-height: 1.6;
  }

  #about {
    padding: 60px 20px;
    background-color: #1e1e1e;
    text-align: center;
  }

  #about h2 {
    font-size: 32px;
    margin-bottom: 15px;
  }

  #about p {
    max-width: 700px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.6;
  }

  #projects {
    padding: 60px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    background-color: #121212;
  }

  .project-card {
    background-color: #222;
    border-radius: 10px;
    width: 280px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: transform 0.2s;
  }

  .project-card:hover {
    transform: scale(1.05);
  }

  .project-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }

  .project-content {
    padding: 15px;
  }

  .project-content h3 {
    margin-bottom: 10px;
    font-size: 20px;
  }

  .project-content p {
    font-size: 14px;
    color: #ccc;
  }


  #contact {
    padding: 60px 20px;
    text-align: center;
  }

  #contact h2 {
    font-size: 32px;
    margin-bottom: 15px;
  }

  #contact p {
    font-size: 16px;
    margin-bottom: 10px;
  }


  .btn {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 25px;
    background-color: yellow;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.3s;
  }

  .btn:hover {
    background-color: red;
  }
  
  p{
  color: white;
  }